<div id="main_{{uniqueid}}" style="border: 1px solid #f00;">
    <div id="sub_main_{{uniqueid}}" class="TagcacheDebugInfo" style="background-color: #{{CacheHit?'ff9':'9ff'}}; border-right: 1px solid #f00; border-bottom: 1px solid #f00;">
        <div style="height: 16px; padding: 2px;">
            <a onclick="TagcacheDebugToggle('sub_main_info_{{uniqueid}}'); return false;" href="#"><strong>cache information</strong></a>&nbsp;
            <a onclick="TagcacheDebugToggle('sub_main_{{uniqueid}}'); document.getElementById('main_{{uniqueid}}').style.border = 'none'; return false;" href="#"><img src="{{asset('bundles/tagcache/images/close.png')}}" alt="close"></a>&nbsp;
        </div>
        <div id="sub_main_info_{{uniqueid}}" style="padding: 2px; display: none">
            <div>[controller] {{CacheContent.Controller}}</div>
            <div>[cache key] {{CacheContent.Key}}</div>
            <div>[cache tags]
                {% for tag in CacheContent.Tags %}
                    <div style="padding: 0 0 0 20px;">{{tag}}</div>
                {% endfor %}
            </div>
            <div>[life time] {{CacheContent.Expires}} seconds</div>
            <div>[last modify] {{CacheContent.lastmodify}} seconds</div>
        </div>
    </div>
    <div>{{CacheContent.Content|raw}}</div>
</div>
